#SUPABASE
#URI_POOL CONNECTION (DATA)
DB_POOL_URL="postgresql://postgres.<PROJECT-ID>:<PASSWORD>@aws-1-...pooler.supabase.com:<PORT>/postgres"
#DIRECT CONNECTION (SCHEMA)
DATABASE_URL="postgresql://postgres:<PASSWORD>@db.<PROJECT-ID>.supabase.co:<PORT>/postgres" 

# GOOGLE DRIVE (BACKUPS)
GOOGLE_CLIENT_EMAIL=backup-service@nombre-proyecto.iam.gserviceaccount.com
GOOGLE_PRIVATE_KEY="-----BEGIN RSA PRIVATE KEY-----\n...\n-----END RSA PRIVATE KEY-----\n"
#folder_id for backups
GOOGLE_DRIVE_FOLDER_ID=id_de_carpeta