#POOL CONNECTION
#  DATA
DB_POOL_URL="postgresql://postgres.<PROJECT-ID>:<PASSWORD>@aws-1-...pooler.supabase.com:<PORT>/postgres"

#DIRECT CONNECTION
#  REQUERIDO PARA CONSTRUCCION DE ESQUEMAS CON DRIZZLE  
DATABASE_URL="postgresql://postgres:<PASSWORD>@db.<PROJECT-ID>.supabase.co:<PORT>/postgres" 