#BACKEND
PORT=<BACKEND_PORT>

#SUPABASE
#URI_POOL CONNECTION (DATA)
DB_POOL_URL=postgresql://postgres.<PROJECT-ID>:<PASSWORD>@aws-1-...pooler.supabase.com:<PORT>/postgres
#DIRECT CONNECTION (SCHEMA)
DATABASE_URL=postgresql://postgres:<PASSWORD>@db.<PROJECT-ID>.supabase.co:<PORT>/postgres
#STORAGE (BACKUPS)
SUPABASE_URL=https://<ID>.supabase.co
SUPABASE_SERVICE_ROLE_KEY=SB_SECRET_KEY
SUPABASE_BACKUPS_BUCKET=BUCKET_NAME
